package modules.${nomeDoModulo};

import init.Index;
#foreach($bean in $beanMapList)
import modules.${nomeDoModulo}.actions#if($nomeDoSubmodulo).$nomeDoSubmodulo#end.${bean.nomeDoBean}Actions;
import modules.${nomeDoModulo}.beans#if($nomeDoSubmodulo).$nomeDoSubmodulo#end.${bean.nomeDoBean};
#foreach($att in $bean.atributoList)
        #if(${att.createSelect})
import org.futurepages.filters.PIFilter;
            #break
        #end
    #end
#end
import org.futurepages.core.control.AbstractModuleManager;
import org.futurepages.filters.VOFilter;

/**
 * @author 
 */
public class ModuleManager extends AbstractModuleManager {

	@Override
    public void loadDependencies() {
		integrationModule();
	}

    @Override
    public void loadActions() {
        action(Index.class);

    #if($nomeDoSubmodulo)
        $nomeDoSubmodulo();
    }

    private void $nomeDoSubmodulo(){
    #end

    #foreach($bean in $beanMapList)
        action("#if($nomeDoSubmodulo)$nomeDoSubmodulo/#end${bean.nomeDoBean}", ${bean.nomeDoBean}Actions.class)
                .filter(new VOFilter("${bean.nomeDaVariavelDoBean}", ${bean.nomeDoBean}.class))
                #foreach($att in $bean.atributoList)
                    #if(${att.createSelect})
                .filter(new PIFilter("${bean.nomeDaVariavelDoBean}","${att.nome}", ${att.tipo}.class), CREATE, UPDATE)
                    #end
                #end
                .on(EXPLORE, fwIn("#if($nomeDoSubmodulo)$nomeDoSubmodulo/#end${bean.nomeDoBean}-explore.page"))
                .on(SUCCESS, EXPLORE, fwIn("#if($nomeDoSubmodulo)$nomeDoSubmodulo/#end${bean.nomeDoBean}-explore.page"))
                .on(CREATE, fwIn("#if($nomeDoSubmodulo)$nomeDoSubmodulo/#end${bean.nomeDoBean}-create.page"))
                .on(UPDATE, fwIn("#if($nomeDoSubmodulo)$nomeDoSubmodulo/#end${bean.nomeDoBean}-update.page"))
                ;
    #end
    #if($nomeDoSubmodulo)
        }
    #end
	}
}