package modules.${nomeDoModulo}.validators#if($nomeDoSubmodulo).$nomeDoSubmodulo#end;

import modules.${nomeDoModulo}.beans#if($nomeDoSubmodulo).$nomeDoSubmodulo#end.${nomeDoBean};
import org.futurepages.core.validation.Validator;
import org.futurepages.util.Is;

/**
 *
 * @author 
 */
public class ${nomeDoBean}Validator extends Validator {

    public void validateAtributos(${nomeDoBean} ${nomeDaVariavelDoBean}){
        if(Is.empty(${nomeDaVariavelDoBean})){
            error("${nomeDaVariavelDoBean}", "Entidade nula.");
        } else {
            #foreach($att in $atributoList)
                #if(${att.tipo} == "String")
                    if(Is.empty(${nomeDaVariavelDoBean}.get${att.nomeCapitalized}())){
                        error("${att.nome}", "O campo ${att.nomeCapitalized} está vazio");
                    }
                #elseif(${att.tipo} == "int" || ${att.tipo} == "long")
                    if(${nomeDaVariavelDoBean}.get${att.nomeCapitalized}() < 0){
                        error("${att.nome}", "O campo ${att.nomeCapitalized} deve ser maior do que zero");
                    }
                #elseif(${att.tipo} == "Integer" ||  ${att.tipo} == "Long")
                    if(${nomeDaVariavelDoBean}.get${att.nomeCapitalized}() != null){
                        error("${att.nome}", "O campo ${att.nomeCapitalized} deve ser informado.");
                    } else if(${nomeDaVariavelDoBean}.get${att.nomeCapitalized}() < 0){
                        error("${att.nome}", "O campo ${att.nomeCapitalized} deve ser maior ou igual a zero.");
                    }
                #elseif(${att.tipo} == "boolean")
                    if(${nomeDaVariavelDoBean}.is${att.nomeCapitalized}() != false){
                        error("${att.nome}", "O campo ${att.nomeCapitalized} deve ser informado.");
                    }
                #elseif(${att.tipo} == "Calendar" || ${att.tipo} == "Date")
                    if(${nomeDaVariavelDoBean}.get${att.nomeCapitalized}() != null){
                        error("${att.nome}", "A data ${att.nomeCapitalized} deve ser informada.");
                    }
                #else
                    if(${nomeDaVariavelDoBean}.get${att.nomeCapitalized}() != null){
                        error("${att.nome}", "O campo ${att.nomeCapitalized} deve ser informado.");
                    }
                #end

            #end
        }
    }

    public void validateCreate(${nomeDoBean} ${nomeDaVariavelDoBean}) {
        validateAtributos(${nomeDaVariavelDoBean});
        validate();
    }

    public void validateUpdate(${nomeDoBean} ${nomeDaVariavelDoBean}) {
        validateAtributos(${nomeDaVariavelDoBean});
        validate();
    }
}
