<%@ taglib uri="futurepagesApp" prefix="fpg" %>

<%--@elvariable id="${nomeDoBeanUnCapitalized}" type="${canonicalName}"--%>

<fieldset class="cleanFieldset">
<legend>Dados do ${entityName}</legend>

<fpg:if value="${ type == 'update'}">
<input type="hidden" value="${${nomeDoBeanUnCapitalized}.${atributoChave}}" name="${atributoChave}" id="${atributoChave}"/>
</fpg:if>
#foreach($att in $atributoList)
    #if($atributoChave != $att.nome)
    <div class="gridRow">
        <div class="ffv lb_${att.nome} gridColumn grid_2 right right middleText">
        #if(${att.nameOnForm} != "")
            <label>${att.nameOnForm}</label>
        #else
            <label>${att.nomeCapitalized}</label>
        #end
        </div>
        #if($att.tipo == "CalendarDATE")
        <div class="ffv inp_${att.nome} gridColumn grid_3 right middleText">
            <fpg:inputDate path="${nomeDoBeanUnCapitalized}" id="${att.nome}" name="${att.nome}" defaultText="dd/mm/aaaa"  />
        </div>
        #elseif($att.tipo == "CalendarTIMESTAMP")
        <div class="ffv inp_${att.nome} gridColumn grid_4 right middleText">
            <fpg:inputDateTime
                    id="${att.nome}"
                    name="${att.nome}"
                    divFieldsClass="gridRow"
                    divOnFisrtInput="true"
                    divOnSecondInput="true"
                    classFisrtInput="ffv inp_${att.nome} gridColumn grid_3"
                    classSecondInput="ffv inp_${att.nome} gridColumn grid_1"
                    value="${${nomeDoBeanUnCapitalized}.${att.nome}}"
                    defaultValueTime="00:00"
                    altData="dd/mm/aaaa"
                    disabled="false"
                    />

        </div>

        #else
            #if(${att.createSelect})
                <div class="ffv inp_${att.nome} gridColumn grid_10 right">
                    <fpg:Select  selected="${${nomeDoBeanUnCapitalized}.${att.nome}.id}" list="${att.nome}List" defaultText="" name="${att.nome}" id="${att.nome}" />
                </div>
            #else
        <div class="ffv inp_${att.nome} gridColumn grid_12 right right middleText">
            <fpg:inputText path="${nomeDoBeanUnCapitalized}" id="${att.nome}" name="${att.nome}" maxlength="50"/>
        </div>
            #end
        #end
    </div>
    #end
#end

</fieldset>

