<%@taglib prefix="fpg" uri="futurepagesApp" %>

<li id="menu_${nomeDoModulo}" class="ddRootMenuItem">
	<span>${nomeDoModuloCapitalized}</span>
	<ul>
            #foreach($bean in $beanMapList)
            <li>
                <a href="<fpg:contextPath/>/${nomeDoModulo}#if($nomeDoSubmodulo)/$nomeDoSubmodulo#end/${bean.nomeDoBean}?type=explore">${bean.nomeDoBean}</a>
            </li>
            #end
        </ul>
</li>
