<%@taglib prefix="fpg" uri="futurepagesApp" %>

<fpg:hasPermission moduleId="${nomeDoModulo}">
	#set($primeiro = true)
	#foreach($bean in $beanMapList)
		#if($primeiro)
        <li class="primeiroLi">
			#set($primeiro = false)
		#else
        <li>
		#end
        <a href="<fpg:contextPath/>/${nomeDoModulo}#if($nomeDoSubmodulo)/$nomeDoSubmodulo#end/${bean.nomeDoBean}?type=explore">${bean.nomeDoBean}</a>
    </li>
	#end
</fpg:hasPermission>
